/.vscode
/.vs
/build*
/figures
/out
/results
/tmp
/venv
/video
/*.json
*.msgpack
*.training
__pycache__
.DS_Store
imgui.ini
/data
/temp
.idea
*.mp4
*.db
/colmap_text
/colmap_sparse
colmap.db-shm
colmap.db-wal
